{% extends "base.html" %}
{% block content %}
    {{ super() }}
    <div class="flex-fill">
        <div class="text-center mt-5">
        </div>
    </div>
    <div class="flex-fill">
        <div class="card" style="margin-top: 20px;">
            <div class="card-body">
                <form action="{{ url_for('transactions.file_processing_save', transaction_id=trans_id, file_name=file_name) }}" method="POST">
                    <button type="submit" class="btn btn-primary" style="margin-top: 20px;"><i class="bi bi-save"></i> Сохранить</button>
                    <a class="btn btn-outline-danger" href="{{ url_for('transactions.file_processing', transaction_id=trans_id) }}" role="button" style="margin-top: 20px;"><i class="bi bi-arrow-left-square"></i> Отмена</a>
                    {{ form_data | safe }}
                    <input type="hidden" name="filename" value="{{ file_name }}">
                    <input type="hidden" name="transid" value="{{ trans_id }}">
                    <button type="submit" class="btn btn-primary" style="margin-top: 20px;"><i class="bi bi-save"></i> Сохранить</button>
                    <a class="btn btn-outline-danger" href="{{ url_for('transactions.file_processing', transaction_id=trans_id) }}" role="button" style="margin-top: 20px;"><i class="bi bi-arrow-left-square"></i> Отмена</a>
		        </form>
	        </div>
        </div>
    </div>
{% endblock %}
