{% extends "base.html" %}
{% block content %}
    {{ super() }}
    <div class="container">
        <div class="card" style="margin-top: 20px;">
            <div class="card-body">
                <div class="row">
                    <div class="col" style="margin-bottom: 20px;">
                        <h4><i class="bi bi-people-fill"></i> Пользователи</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-secondary" href="{{ url_for('transactions.index_show') }}" role="button"><i class="bi bi-house-fill"></i> На главную</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-success mb-2 float-end" href="{{ url_for('users.register_show') }}" role="button"><i class="bi bi-person-plus-fill"></i> Добавить пользователя</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
       {% if result_data %}
        <div class="card" style="margin-top: 20px;">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead">
                        <tr>
                            {% for cell in result_header %}
                                <th scope="col">{{ cell }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in result_data %}
                            <tr>
                                    <td> {{ row[0] }} </td>
                                    <td>{{ row[1] }} <a href="{{ url_for("users.user_edit", userid=row[0]) }}" style="float: right;"><i class="bi bi-pencil-square btn-outline-danger" style="font-size: 14pt; padding: 2px; border-radius: 4px;"></i></a></td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[3] }}</td>
                                    {% if row[4] == 1 %}
                                        <td>
                                            <i class="bi bi-check-circle" style="color: green;"></i>
                                        </td>
                                    {% else %}
                                        <td>
                                            <i class="bi bi-x-circle" style="color: red;"></i>
                                        </td>
                                    {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
